{% extends "layout.html" %}
{% block title %}{{ 'Login' }}{% endblock %}
{% block content %}
  <h2>ログイン</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    <dl>
      <dt>ユーザー名</dt>
      <dd><input type="text" name="username" required></dd>
      <dt>パスワード</dt>
      <dd><input type="password" name="password" required></dd>
    </dl>
    <p><input type="submit" value="ログイン">
  </form>
  <p>新規ユーザーですか？ <a href="{{ url_for('register') }}">アカウントを作成</a></p>
{% endblock %}